// Multiple Section Universal
#articles .container,
#portfolio .container,
#journey .container,
header .container,
#interests .container {
    border-bottom: rgb(194, 194, 194) 1px solid;
}

#interests h2,
#articles h2,
#portfolio ul li a,
#portfolio h2,
#journey h4,
#journey h2,
#product h2 {
    font-size: 30px;
    font-weight: normal;
}


#portfolio .products .boundry p,
#articles p,
#journey p,
header article p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}



// Header
header {
    article {

        img {
            height: 200px;
        }

        h1 {
            color: #000;
            font-size: 40px;
            font-weight: 400;
            line-height: 60px;
            padding-bottom: 10px;

            small {
                color: rgb(114, 114, 114);
                font-size: 16px;
                font-weight: 400;
                width: 700px;
                text-transform: uppercase;
            }

            strong {
                font-weight: 700;

            }

            p {
                width: 700;
            }

        }
    }

    aside {
        width: calc(100% - 500px);
        height: 350px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/assets/images/banner.JPG');
    }
    
}


// My Journey
#journey {
    p {
        color: #000;
    }

    h4 {
        font-size: 16px;
    }

    h3 {
        font-size: 22px;
        font-style: italic;
        line-height: 32px;
        

        small {
            font-size: 12px;
            font-weight: bold;
        }
    }

    img {
        width: 100%;
    }

    img.lastImg {
        width: 600px;
    }

    h5 {
        font-size: 16px;
        font-weight: bold;
    }

    p.bottomParagraph,
    div.row p.paragraph {
        color: rgb(114, 114, 114);
    }
}



// Portfolio
#portfolio ul {
    li {
        list-style: none;
        position: relative;
        margin: auto;
        a {
            font-size: 16px;
            font-weight: normal;
            color: rgb(70, 70, 70);
            margin-right: 20px;
            text-decoration: none;
            cursor: pointer;

            i{
                width: 10px;
                height: 10px;
                margin-left: 5px;
                display: inline-block;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('/assets/icons/down-arrow.svg');
            }
        }

        ul {
            position: absolute;
            z-index: 5;
            background-color: #fff;
            width: 120px;
            padding: 5px;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s all linear;
            border-radius: 3px;
            li {
                margin: 5px 0;
                a {
                    display: block;
                    transition: 0.2s all linear;
                }
            }
        }
    }

    li:hover {
        ul {
            visibility: visible;
            opacity: 1;
            -webkit-box-shadow: 0 3px 5px 0 #C9C9C9;
            box-shadow: 0 3px 5px 0 #C9C9C9;

            li {
                a:hover {
                    color: rgb(194, 8, 48);
                }
            }
        }
    }
}

#portfolio .products {
    img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
    }

    .pInside {
        border: rgb(206, 206, 206) 1px solid;
        border-radius: 5px;
        margin: 15px 0;
        cursor: pointer;
    }

    .boundry {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        transition: 0.3s linear all;

        a {
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            color: rgb(194, 8, 48);
            text-decoration: none;
        }

        h5 {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .col-4:hover .boundry {
        -webkit-box-shadow: 0 0 10px 3px #CFCFCF;
        box-shadow: 0 0 10px 3px #CFCFCF;
    }
}


#portfolio a.more,
#portfolio a.less {
    display: block;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    color: #2a2a2a;
    cursor: pointer;
    text-decoration: none;
    i {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/assets/icons/down-arrow.svg');
    }
}

#portfolio a.less i {
    transform: rotate(180deg);
}



// My Articles
#articles {
    position: relative;

    a, a:hover {
        text-decoration: none;
        color: #000;
    }

    img {
        width: 100%;
        height: 150px;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 16px;
        margin: 0;
    }

    p {
        font-size: 13px;
        line-height: 25px;
        margin: 8px 0 10px 0;
    }

    h5 {
        font-size: 12px;
        margin: 0;
    }
}


// My Interests
#interests {
    img {
        width: calc(97.9% / 7);
        height: 120px;
        object-fit: cover;
        object-position: center;
        margin: 1px;
        cursor: pointer;
    }

    div.imgArea {
        margin: 0 20px;
    }
    
}


// My Product
section#product {
    text-align: center;
    h2 {
        margin-bottom: 20px;
    }

    p.headText {
        max-width: 750px;
        margin: 0 auto 50px auto;
        font-size: 14px;
    }
    aside {
        img {
            width: 35px;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
            line-height: 25px;
        }
    }
}
