<!-- Header -->
<header class="py-5">
    <div class="container d-flex justify-content-between align-items-center">
        <article>
            <h1><small>Hey there!</small> <br> I'm <strong>Lorem Ipsum</strong></h1>
            <p>I’m a trained Pharmaceutical Statistician that went on to become a Data Scientist. I am based in London, United Kingdom. and I am passionate about building products using data and machine learning.</p>
        </article>

        <aside></aside>

    </div>
</header>
<!-- Header End -->

<!-- My Journey -->
<section id="journey">
    <div class="container pb-5">
        <h2 class="pb-3">My Journey . . .</h2>

        <div class="row">
            <div class="col-6">
                <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text TextText Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
                <br>
                <p>Text Text Text Text Text Text Text Text Text Text . . .</p>
            </div>

            <div class="col-6">
                <h4>Favourite Quote</h4>
                <h3>We <strong>keep moving forward,</strong> opening <strong>new doors,</strong> and doing <strong>new things,</strong> because we're <strong>curious</strong> and curiosity keeps leading us down <strong>new paths.</strong> <small>Walt Disney</small></h3>
            </div>
        </div>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5>August 2006</h5>
                <p class="paragraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
            </div>

            <div class="col-6">
                <img src="/assets/images/journeyBg.png" alt="">
            </div>
        
        </div>

        <div class="row my-3">
            <div class="col-6">
                <img src="/assets/images/journeyBg.png" alt="">
            </div>

            <div class="col-6">
                <h5>August 2008</h5>
                <p class="paragraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
            </div>
        </div>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5>August 2010</h5>
                <p class="paragraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
            </div>

            <div class="col-6">
                <img src="/assets/images/journeyBg.png" alt="">
            </div>
        
        </div>

        <div class="row my-3">
            <div class="col-6">
                <img src="/assets/images/journeyBg.png" alt="">
            </div>

            <div class="col-6">
                <h5>November 2010</h5>
                <p class="paragraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
            </div>
        </div>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5>August 2011</h5>
                <p class="paragraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
            </div>

            <div class="col-6">
                <img src="/assets/images/journeyBg.png" alt="">
            </div>
        
        </div>

        <div class="row my-3">
            <div class="col-6">
                <img src="/assets/images/journeyBg.png" alt="">
            </div>

            <div class="col-6">
                <h5>May 2013</h5>
                <p class="paragraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
            </div>

        
        </div>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5>May 2015</h5>
                <p class="paragraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
            </div>

            <div class="col-6">
                <img src="/assets/images/journeyBg.png" alt="">
            </div>
        
        </div>

        <div class="text-center">
            <p class="bottomParagraph">In 2020, having learnt and experience quite a lText Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text ot in a short space of time, I decided to create my own company.</p>
            <img class="lastImg py-4" src="/assets/images/journeyBg.png" alt="">
            <p class="bottomParagraph">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
        </div>
    </div>
</section>   
<!-- My Journey End -->

<!-- My Portfolio -->
<section id="portfolio" class="py-5">
    <div class="container pb-5">
        <h2 class="pb-3">My Portfolio . . .</h2>
        <ul id="pftLink" class="d-flex">
            <li>
                <a >Use Case - <strong>{{uCase}}</strong><i></i></a>
                <ul>
                    <li><a (click)="uCFilter('All')">All</a></li>
                    <li><a (click)="uCFilter('A')">A</a></li>
                    <li><a (click)="uCFilter('B')">B</a></li>
                    <li><a (click)="uCFilter('C')">C</a></li>
                    <li><a (click)="uCFilter('D')">D</a></li>
                    <li><a (click)="uCFilter('E')">E</a></li>
                </ul>
            </li>

            <li>
                <a >Technology - <strong>{{tech}}</strong><i></i></a>
                <ul class="wide">
                    <li><a (click)="tchFilter('All')">All</a></li>
                    <li><a (click)="tchFilter('Tech1')">Tech1</a></li>
                    <li><a (click)="tchFilter('Tech2')">Tech2</a></li>
                    <li><a (click)="tchFilter('Tech3')">Tech3</a></li>
                    <li><a (click)="tchFilter('Tech4')">Tech4</a></li>
                    <li><a (click)="tchFilter('Tech5')">Tech5</a></li>
                </ul>
            </li>

            <li>
                <a >Methods - <strong>{{method}}</strong><i></i></a>
                <ul class="wide">
                    <li><a (click)="mtdFilter('All')">All</a></li>
                    <li><a (click)="mtdFilter('Method1')">Method1</a></li>
                    <li><a (click)="mtdFilter('Method2')">Method2</a></li>
                    <li><a (click)="mtdFilter('Method3')">Method3</a></li>
                    <li><a (click)="mtdFilter('Method4')">Method4</a></li>
                    <li><a (click)="mtdFilter('Method5')">Method5</a></li>
                </ul>
            </li>

            <li>
                <a >Year - <strong>{{year}}</strong><i></i></a>
                <ul>
                    <li><a (click)="yrFilter('All')">All</a></li>
                    <li><a (click)="yrFilter('2017')">2017</a></li>
                    <li><a (click)="yrFilter('2018')">2018</a></li>
                    <li><a (click)="yrFilter('2019')">2019</a></li>
                    <li><a (click)="yrFilter('2020')">2020</a></li>
                    <li><a (click)="yrFilter('2021')">2021</a></li>
                </ul>
            </li>
        </ul>

        <div class="products pt-3">
            <div class="row">
                <div class="col-4" *ngFor="let prt of fPortfolio | slice:0:pEnd">
                    <div class="pInside" (click)="openModal(template, prt.heading, prt.details, prt.logo)">
                        <div class="boundry">
                            <h5><img [src]="prt.logo" alt=""> {{prt.heading}}</h5>
                            <p>{{prt.shortDes}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <a (click)="addMore()" class="more" *ngIf="fPortfolio.length != 0 && pEnd < fPortfolio.length">
                See All<br />
                <i></i>
            </a>

            <a (click)="rmvMore()" class="less" *ngIf="fPortfolio.length != 0 && fPortfolio.length >= 6 && pEnd >= fPortfolio.length">
                <i></i><br />
                See Less
            </a>
        </div>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <img [src]="logo" alt="">
            <h4 class="modal-title pull-left">{{heading}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [innerHTML]="details">
        </div>
      </ng-template>
</section>
<!-- My Portfolio End -->

<!-- My Article -->
<section id="articles">
    <div class="container pb-5">
        <h2 class="pb-3">My Articles . . .</h2>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles1.jpg" alt="">
                    <h4>Google Assistant</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>Apr 29, 2021</h5>
                </a>
            </ng-template>  
            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles2.jpg" alt="">
                    <h4>Google Assistant</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>Apr 29, 2021</h5>
                </a>
            </ng-template>  
            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles3.jpg" alt="">
                    <h4>Google Assistant</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>Apr 29, 2021</h5>
                </a>
            </ng-template>  
            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles4.jpg" alt="">
                    <h4>Google Assistant</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>Apr 29, 2021</h5>
                </a>
            </ng-template>
            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles4.jpg" alt="">
                    <h4>Google Assistant</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h5>Apr 29, 2021</h5>
                </a>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<!-- My Article End -->

<!-- My Interests -->
<section id="interests" class="py-5">
    <div class="container pb-5">
        <h2 class="pb-3">My Interests . . . </h2>
        <p class="text-center">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
        <div class="imgArea">
            <div class="d-flex justify-content-between flex-wrap my-5">
                    <img [src]="alb.thumb" *ngFor="let alb of album; let i = index" (click)="open(i)">
                    <img [src]="alb.thumb" *ngFor="let alb of album; let i = index" (click)="open(i)">
                    <img [src]="alb.thumb" *ngFor="let alb of album; let i = index" (click)="open(i)">
                    <img [src]="alb.thumb" *ngFor="let alb of album |  slice:0:5; let i = index" (click)="open(i)">
            </div>

        </div>
        <p class="text-center">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
    </div>
</section>
<!-- My Interests End -->

<!-- My Products -->
<section id="product" class="">
    <div class="container pb-5">
        <h2>My Products</h2>
        <p class="headText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nobis distinctio officiis harum. Excepturi eligendi praesentium dolorum iure similique tempora.</p>
        <div class="row">
            <aside class="col-4">
                <img src="/assets/icons/tea-cup.svg" alt="" />
                <h3>Search</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sint illum officia error cum dolorum.</p>
            </aside>
            <aside class="col-4">
                <img src="/assets/icons/tea-cup.svg" alt="" />
                <h3>Search</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sint illum officia error cum dolorum.</p>
            </aside>
            <aside class="col-4">
                <img src="/assets/icons/tea-cup.svg" alt="" />
                <h3>Search</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sint illum officia error cum dolorum.</p>
            </aside>
        </div>
    </div>
</section>
<!-- My Products End -->


<!-- Footer -->
<app-footer></app-footer>
<!-- Footer End -->