* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#portfolio .owl-nav,
#articles .owl-nav {
    position: absolute;
    margin-top: -180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: 0.5s all linear;

    .owl-prev,
    .owl-next {
        font-family: serif;
        font-size: 20px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        color: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        transition: 0.2s all linear;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px 0 #B8B8B8;
        box-shadow: 0 2px 5px 0 #B8B8B8;
    }

    .owl-prev { background-image: url('/assets/icons/left-arrow.svg'); }

    .owl-next { background-image: url('/assets/icons/right-arrow.svg'); }

    .owl-prev:hover,
    .owl-next:hover {
        background-color: #fff;
        -webkit-box-shadow: 0 4px 5px 0 #B8B8B8;
        box-shadow: 0 4px 5px 0 #B8B8B8;
    }
}

#portfolio .owl-nav {
    margin-top: -150px;
}

#portfolio .owl-item,
#articles .owl-item { cursor: pointer; }

#portfolio:hover .owl-nav,
#articles:hover .owl-nav {
    opacity: 0.9;
}

.lightboxOverlay {
    background-color: #fff;
}

.lb-data {
    color: #000;
}

.modal-header {
    img {
        width: 20px;
        margin-right: 8px;
    }
    h4 {
        font-size: 16px;
    }
}